@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');

body {
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #f1f2f2;
}

h1 {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 24px;
}

.body-email {
  background-color: #fff;
  padding: 50px;
  padding-bottom: 0px;
}

.container {
  margin-top: 50px;
  width: 600px;
}

.top {
  height: 200px;
  background-color: #1d1d21;
  border-bottom: 10px solid #e3d1a2;
}

.top img {
  padding-top: 8%;
  padding-left: 20%;
}

.message {
  min-height: 400px;
  font-size: 14px;
  color: #606063;
}

.signature {
  margin-top: 100px;
  margin-bottom: 50px;
}

.social {
  border-top: 1px solid #d2d2d3;
  padding-top: 50px;
  padding-left: 5%;
  padding-bottom: 50px;
}

.social-box {
  display: inline-block;
}

.address {
  background-color: #1d1d21;
  min-height: 200px;
  color: #fff;
  font-size: 12px;
}

.address-text {
  height: 200px;
  padding-top: 8%;
  padding-left: 5%;
}

.address-text a {
  color: #ceae76;
}

.address-text a :hover {
  color: #ceae76;
}

.indice {
  height: 200px;
}

.indice img {
  margin-top: 50%;
  margin-left: 17%;
}

.footer {
  min-height: 150px;
}

.footer-img {
  margin-top: 3%;
  margin-left: 47%;
}

.hilight {
  color: #ceae76;
  font-weight: bold;
}

.separator {
  width: 1px;
  height: 10px;
  background-color: #d2d2d3;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}
